<!DOCTYPE html>
<html>
  <head>
    <title>autorisation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="views/style.css" rel="stylesheet">
    <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
    <link rel="icon" href="https://nasobe.ru/images/js.svg">
    <style media="screen">
      form{
        background: rgba(0,255,0,0.3);
        border-radius:5px;
      }
    </style>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LftiT8jAAAAANlpgupHL7RUnE6rYoZctoAmo9Vh"></script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6LftiT8jAAAAANlpgupHL7RUnE6rYoZctoAmo9Vh', {action: 'login'}).then(function(token) {
       ...
    });
});
</script>
  </head>
  <body>
  <main>
    <article>
      <span><%= login %></span>
      <p><%= password %></p>
      <form action="/new/login0" method="post">
        <fieldset>
          <legend>Login</legend>
          <!-- <label>login</label><br /> -->
          <input type="text" name="login" placeholder="Login" >
        </fieldset>

        <fieldset>
          <legend>Password</legend>
          <!-- <label>password</label><br /> -->
          <input type="text" name="password" placeholder='password'>
        </fieldset>

        <input type="submit" value="авторизироваться" />
        <a href="register" style='font-size:15px;text-decoration:none;float:right;'>
          <sup>registration</sup>
        </a>
      </form>
    </article>
  </main>
  </body>
</html>
