<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>

  <h1><%=login %> в EJS</h1>
  <span><%= id %></span>
  
       <h3>Электронный адрес отсутствует</h3>
   <%} %>
   <p>Телефон: <%= Name %></p>

</body>

<html>
