<!DOCTYPE html>
<html>
<head>
    <title>Список</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список пользователей</h1>
    <p><a href="/create">Добавить пользователя</a></p>
    <table>
        <tr><th>Name</th><th>Age</th><th></th></tr>
        {{#each article}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.text}}</td>
                <td>
                  
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>
