<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title><%=title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link href="/site/style.css" rel="stylesheet"> -->
      <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
      <link rel="icon" href="https://nasobe.ru/images/js.svg">
    </head>
    <body>
    <main>
      <article>
        <h1><%=title %></h1>
      <p><%=text %></p>
      </article>
      <aside>
        <a href="https://fozzy.com/aff.php?aff=16418">
          <picture>
            <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
          </picture>
        </a>
        <ul>
          <li><a href='/nodejs/'>Team</a></li>
          <li><a href='/nodejs/about'>about</a></li>
          <li><a href='/nodejs/contact'>contact</a></li>
          <li><a href='/nodejs/list'>список постов</a></li>
        </ul>
      </aside>
    </main>
    </body>
    <script type="text/javascript">
      if(location.pathname=='new'){
        console.log('pathname new');
      }else if(location.pathname=='nodejs'){
        console.log('nodejs');
      }
    </script>
    <script type="text/javascript" src='site/script.js'></script>
</html>
